/dev/nvos	0666	system	system
/dev/nvrm	0666	system	system
/dev/knvmap	0660	system	system
/dev/nvmap	0666	system	system
/dev/tegra_mediaserver  0660    media   media
/dev/ar0832-right 0660	media	camera
/dev/focuser 	0660	media	camera
/dev/dw9714l	0660	media	camera
/dev/ov7739     0660	media	camera
/dev/ov5650	0660	media	camera
/dev/soc380	0660	media	camera
/dev/tegra_camera	0660	media	camera
/dev/tegra_avp	0660	media	media
/dev/tegra_rpc	0660	media	media
/dev/tegra_sema	0660	media media
/dev/tegra_dc*	0666	system	system
/dev/ttyACM*	0660	radio	system
/dev/cpcap	0660	root	mot_pwric
/dev/cpcap_batt	0660	root	mot_pwric
/dev/cpcap_uc	0660	root	mot_pwric
/dev/ttyHS2	0660	bluetooth	bluetooth
/dev/ttyHS3	0660	radio	radio
/dev/akm8975_dev	0660	system	compass
/dev/akm8975_aot	0660	system	compass
/dev/isl29030	0660	system	system
/dev/kxtf9 	0660	system	compass
/dev/ttySPI0	0660	radio	system
/dev/ppp 	0660	radio	vpn
